/* Contenido principal */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    background-color: #c1f4f7;
    margin: 0;
    padding: 0;
}

.imagen-container{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
}

.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
    cursor: pointer;
  }
  
  .floating-btn img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
.centrar-imagen {

    width: 80%;
    max-width: 600px;
       

}

.header {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.header .nav {
    display: flex;
    gap: 20px;
}

.header .nav a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.header .nav a:hover {
    text-decoration: underline;
}

.header .icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .icons i {
    font-size: 18px;
    color: #000;
}

.header .cart {
    font-size: 14px;
}

.contra {
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente */
    min-height: 100vh;        /* Asegura que el contenedor ocupe al menos el 100% del alto de la pantalla */
    text-align: center; 
  }
  
  .contra .primero {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 66px;
    line-height: 0%;
    font-weight: bold;
    color: #513cee;
  }
  
  .contra .segundo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 66px;  
    font-weight: bold;
    color: #513cee;
  }

  .contra .otra1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    color: #4953e4;
  }
  .contra .otra2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    color: #4953e4;
  }